.see-more-button-container{
  display: flex;
  justify-content: center;
  margin: 30px 0px;

  .see-more-button{
    width: 150px;
    font-size: 18px;
    color: gray;
    background-color: #C63D0F;;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30px;
    vertical-align: center;
    padding: 5px 3px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    letter-spacing: 150%;
    &:hover{
      cursor: pointer;
      opacity: 0.6;
    }
    &:focus{
      outline: none;
    }
  }
}

.trending-events-title{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 40px;
}

#event-slider-container{
  margin-top: 20px;
}

#events-by-category{
  text-align: center;
  margin-bottom: 50px;
  margin-top: 100px;
  font-size: 30px;
}
