#main-nav{

  display: flex;
  direction: row;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  border-bottom: 1px solid grey;
  background-color: white;
  font-size: 20px;
  padding-right: 20px;
}

#left-nav{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo{
  margin: 0px 15px;
  padding: 16px;
}

.logo a{
  text-decoration: none;
  font-size: 30px;
  color: #C63D0F;
  font-family: 'Passion One', sans-serif;

}

.navbar-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 100%;
}

.navbar-links li, .navbar-links button,{
  margin: 0px 15px;
  padding: 16px 0px;
}

.navbar-links li a{
  text-decoration: none;
  color: black;
}

.navbar-links button{
  border: none;
  background-color: inherit;
  font-family: inherit;
  font-size: 20px;
}

.navbar-links button{
  outline: 0;
}
.navbar-links button:hover{
  cursor: pointer;
  color: #C63D0F
}

.navbar-links li:hover, .navbar-links li a:hover{
  font-weight: bolder;
  cursor: pointer;
  color: #C63D0F
}

.dropdown {
    position: relative;
    display: inline-block;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 15px;
}

.dropdown:hover{
  cursor: pointer;
  color: #C63D0F;
}
.dropdown:hover .dropdown-content {
  display: block;
}


.dropdown-content{
    display: none;
    top: 60px;
    right: -15px;
    color: black;
    position: absolute;
    width: 150%;
    min-width: 135px;
    border: 1px solid black;
    background-color: white;
    font-size: 15px;
    padding: 8px;
    z-index: 1000;
    overflow:auto;
}

.dropdown-content:hover{
  display: block;
}

.dropdown-content button{
  font: inherit;
  font-size: inherit;
  padding: inherit;
  margin: 0px 15px;
  padding: 16px 0px;
  font-weight: bolder;
}

.log-out-button{
  width: 100%;
  text-align: left;
}
